nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #eef8ff;    
    width: 100%;
}

.logo h2{
    font-size: 30px;
}

.logo h2 > span {
    color: #1fcbff;
}

.items .menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu li {
    list-style-type: none;
    padding-left: 30px;
   
}

.menu .items-active {
    color: #eef8ff;
    text-decoration: none;
    position: relative;  
}

/*--------Animacion de las opciones del menu---------*/
.menu .items-active::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #1fcbff;
    transition: width 0.3s ease;
}


.menu .items-active:hover::after,
.menu .items-active:focus::after {
    width: 100%;
}


