<nav>
    <div class="logo">
        <h2 href="#">ERN<span>/DEV</span></h2>
    </div>
    <div class="items">
        <ul class="menu">
            <li>
                <a class="items-active" href="#">Sobre mí</a>
            </li>
            <li>
                <a class="items-active" href="#">Experiencia</a>
            </li>
            <li>
                <a class="items-active" href="#">Proyectos</a>
            </li>
            <li>
                <a class="items-active" href="#">Habilidades</a>
            </li>

            <li>
                <a class="items-active" href="#">Contacto</a>
            </li>
        </ul>
    </div>
</nav>
